<%- include("header") %>

  <h1><%= name %></h1>
  <p><%= email %></p>
  <p><%= phoneNumber %></p>
  <p><%= dateRegistered %></p>
  <p><%= notes %></p>
  <a href="/member/delete/<%= member._id %>"><button>Delete</button></a>
</body>
</html>